<footer class="footer custom-content">
  
</footer>
<!-- This script brings the FranceConnect tools modal which enable "disconnect", "see connection history" and "see FC FAQ" features -->
<script src="<%= locals.franceConnectKitUrl %>"></script>
